<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>fusliez notes | Among Us Notes</title>
    <meta
      name="description"
      content="A companion notes app for Among Us social deduction game. Helps you keep tabs on players, your winning record, and includes a notepad and maps."
    />
    <link rel="canonical" href="https://zzz-creator.github.io/fusliez-notes/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="fusliez notes" />
    <meta
      property="og:description"
      content="A companion notes app for the Among Us online social deduction game. Helps you keep tabs on players, your winning record, and includes a notepad and maps."
    />
    <meta
      property="og:url"
      content="https://zzz-creator.github.io/fusliez-notes/"
    />
    <meta
      property="og:image"
      content="https://zzz-creator.github.io/fusliez-notes/open-graph.jpg"
    />
    <meta
      property="og:image:alt"
      content="Among us character holding a notebook, pointing to a PhD sign to his mini version."
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:url"
      content="https://zzz-creator.github.io/fusliez-notes/"
    />
    <meta name="twitter:title" content="fusliez notes" />
    <meta
      name="twitter:description"
      content="A companion notes app for the Among Us online social deduction game. Helps you keep tabs on players, your winning record, and includes a notepad and maps."
    />
    <meta
      name="twitter:image"
      content="https://zzz-creator.github.io/fusliez-notes/assets/images/open-graph.jpg"
    />
    <meta
      name="twitter:image:alt"
      content="Among us character holding a notebook, pointing to a PhD sign to his mini version."
    />

    <link rel="manifest" href="./site.webmanifest" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-title"
      content="<%= htmlWebpackPlugin.options.title %>"
    />
    <meta name="application-name" content="fusliez notes" />
    <meta name="theme-color" content="#282b2f" />

    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css?family=Inter:wght@200,400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      media="print"
      onload="this.onload=null;this.removeAttribute('media');"
      href="https://fonts.googleapis.com/css?family=Inter:wght@200,400;500;600&display=swap"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css?family=Inter:wght@200,400;500;600&display=swap"
        rel="stylesheet"
      />
    </noscript>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./favicon-16x16.png"
    />
   <!-- Global site tag (gtag.js) - Google Analytics -->
  <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin />
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-R60Z7DY66L"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-R60Z7DY66L');
  </script>
  <script type="text/javascript">
var _iub = _iub || [];
_iub.csConfiguration = {"siteId":4226991,"cookiePolicyId":19409504,"lang":"en","storage":{"useSiteId":true}};
</script>
<script type="text/javascript" src="https://cs.iubenda.com/autoblocking/4226991.js"></script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/gpp/stub.js"></script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
    
  </head>
  <body>
    <noscript>You need to enable Javascript to run this application.</noscript>
    <div id="root"></div>
      <a href="https://www.iubenda.com/privacy-policy/19409504" class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe " title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
  <a href="https://www.iubenda.com/privacy-policy/19409504/cookie-policy" class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe " title="Cookie Policy ">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
  <a href="https://www.iubenda.com/terms-and-conditions/19409504" class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe " title="Terms and Conditions ">Terms and Conditions</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
  </body>
</html>
